
.dashboard-dashboard-list-items{
	list-style: none;
	padding-right: 0;
	padding-left:0;
	position: relative;
}

.dashboard-itemlist-element{
	 width: 100%;
	 margin:0.5vh;
	 overflow:scroll;
 }
.dashboard-item_a{
	text-decoration:none;
	position: relative;
	background-color: #d9d9d6;
	opacity: 0.66;
}

.dashboard-dashboard-header {
	width:100%;
	font-size: 5vh;
	font-family: sans-serif;
	color:#b58500;
	font-weight: bold;
}

.dashboard-dashboard-title{
	font-size: 5vh;
	margin-bottom: 1rem;

}
.dashboard-list_header{
	height:2vh;

}

.dashboard-item_header{
	position: relative;
	margin-bottom: 0.5rem;
	color:#293241;
	opacity: 0.66;
	font-weight: bold;
}

.dashboard-header_style1{
	font-weight: bold;
	font-size: 1.2rem;
	position:absolute;
	left:0;
}

.dashboard-header_style2{
	font-weight: bold;
	font-size: 1.2rem;
	position:absolute;
	left:48%;
}

.dashboard-header_style3{
	font-weight: bold;

	font-size: 1.2rem;
	position:absolute;
	right:0;
	left:74%;
	
}

.dashboard-item_name{
	font-weight: bold;
	width: 50%;
	font-size: 1rem;
}

.dashboard-item_date{

	font-size: 1rem;
	width: 25%;

}
.dashboard-item_id{
	font-size: 1rem;
	width: 25%;

}

.dashboard-item_description{
	font-size: 1rem;
	width: 25%;
	position: absolute;

}

.dashboard-itemlist-element a{
	color: #293241;
	height: 95%;
	width: 100%;
	display: flex;

}

.dashboard-itemlist-element:hover{
	background-color: #012169;
	opacity: 0.33;
	color: #f2f7f4;
}

/*.itemlist-element a:active{
	background-color: #f2a900;
	color: #012169;
}*/
