

.account-header{
    font-size: 5vh;
    color:#b58500;
    font-weight: bold;
    font-family: sans-serif;
}

.account-info-list-element{
    font-size: 3vh;
    font-family: sans-serif;
}

.button{
    background-color:#012169; 
    color: azure;
    border-color: azure;
    font-size: 3vh;
    margin: 0.5vh;
    padding: 0.5vh;
    font-family: sans-serif;
    border-radius: 10%;
}
