

.items-container{
	list-style: none;
	padding-right: 0;
	padding-left:0;
}

.checkout-header{
	font-size: 30px;
	font-weight: bold;
	width: 280px;
	margin:0; padding:0;
	border-color: #3D5A80;
	color:#b58500;
	font-family: 'Lato', sans-serif;
}
.remove_btn{
    color:#f2f7f4;
    background-color: #012169;
}

.checkout-button-btn{
    color:#f2f7f4;
    background-color: #012169;

}